body {
  display: flex;
  justify-content: center;
  background-image: url("https://t4.ftcdn.net/jpg/01/12/60/03/240_F_112600313_Qp8IOzTmfy2JFEmqxAFDKdLFk6lI40VK.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 760px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 2px solid white
}

h1,
h2 {
  text-align: center;
}

.player-header {
  color: lightcoral;
  text-decoration: underline;
}

.win-count {
  color: white;
  font-size: xx-large;
}

.game-board {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  padding-left: 80px;
  padding-right: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  padding: 10px;
  margin: 115px;
}

.grid-square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 50px;
}
